MONGODB_URI=

NEXT_PUBLIC_CLOUDINARY_API_KEY=
NEXT_PUBLIC_CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_NAME=

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
  
NAVER_ID=
NAVER_SECRET=
NAVER_SENS_SERVICE_KEY=
NAVER_API_ACCESS=
NAVER_API_SECRET=

KAKAO_ID=
KAKAO_SECRET=

NEXT_PUBLIC_PAYMENTS_CLIENT=
NEXT_PUBLIC_PAYMENTS_SECRET=
