@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset everything */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

/* prevent iOS font size change */
html {
  -webkit-text-size-adjust: 100%;
}

/* reset body line-height */
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

/* all media elements set to block and full width */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

/* inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

/* assign button hover state */
button,
[role="button"] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

/* reset anchor style */
a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}
